version: "3.9"
services:
  emo-trainer:
    build: .
    working_dir: /app
    volumes:
      - .:/app
    command: ["./scripts/run_train.sh"]

  emo-infer:
    build: .
    working_dir: /app
    volumes:
      - .:/app
    command: ["./scripts/run_infer.sh", "--input", "estoy triste"]
